html {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    background-size: cover;
    min-height: 100vh;
}

body {
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    margin: 0px;
}

.social-icons {
    display: flex;
    align-items: left;
    margin-top: 40px;
}

.social-icon {
    display: inline-block;
}

.social-icon img {
    width: 20px;
    height: auto;
    margin-right: 30px;
}

