html {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
}

body {
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 18px;
    line-height: 1.1;
    color: #333;
    padding: 13vh 10vw 0 10vw;
    margin: 0;
    box-sizing: border-box;
}

.social-icons {
    display: flex;
    align-items: flex-start; /* Correct alignment direction */
    margin-top: 2.5rem;
}

.social-icon {
    position: relative;
    display: inline-block;
    margin-right: 2rem;
    transition: transform 0.2s ease-in-out;
}

.social-icon::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    z-index: -1; /* Make sure the background is behind the icon */
}

.social-icon:hover::before {
    border-color: #333; /* Border color on hover */
    background-color: #e0e0e0; /* Background color on hover */
    transform: scale(1.2); /* Slight enlargement of the border */
}

.social-icon img {
    width: 23px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
}

.social-icon:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    body {
        padding: 10vh 10vw;
        font-size: 20px;
    }

    .social-icon img {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
}