body {
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
}

.social-icons {
    display: flex;
    align-items: left;
    margin-top: 40px;
}

.social-icon {
    display: inline-block;
}

.social-icon img {
    width: 40px;
    height: auto;
    margin-right: 20px;
    filter: brightness(100%);
}